<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>Loji - Modelo 01</title>
</head>

<body>
  <div class="container">
    <div class="header">
      <div class="site-information">
        <span class="left-info">
          <div class="phone">(33)3333-3333</div>
          <div class="email">sac@site.com.br</div>
        </span>
        <span class="right-info">
          <div class="location">Localização</div>
          <div class="track-order">Pedidos</div>
        </span>
      </div>
      <div class="header-functions">
        <input type="search" placeholder="Pesquisar...">
        <div class="logo"><img src="https://relojoariaitauna.loji.com.br/storage/uploads/87kCivl1bmZ3pyAVKD0cySmxWORhhNWhK3sFHUwc.png" alt="" srcset=""> </div>
        <div class="account">
          <span class="user">🤠</span>
          <span class="wishlist">💜</span>
          <span class="cart">🛵</span>
        </div>
      </div>
      <div class="nav">
        <ul>
          <li>Home</li>
          <li>Sobre nós</li>
          <li>Ofertas</li>
          <li>Contato</li>
          <li>FAQ</li>
        </ul>
      </div>
    </div>

      <div class="promotions-slider">
        <div class="promo-slider">Promoção 01</div>
        <div class="promo-slider">Promoção 02</div>
        <div class="promo-slider">Promoção 03</div>
        <div class="promo-slider">Promoção 04</div>
        <div class="promo-slider">Promoção 05</div>
      </div>

      <section class="products">
        <div class="side-bar">
          <div class="category">Categorias:</div>
          <ul>
            <li>Ver tudo</li>
            <li>Alianças</li>
            <li>Jóias</li>
            <li>Semijóias</li>
            <li>Relógios</li>
            <li>Acessórios</li>
          </ul>
        </div>

        <div class="products-list">

          <div class="product">
            <div class="product-image">
              <img
                src="https://picsum.photos/200/300" />
            </div>
            <div class="price">R$249,90</div>  
            <div class="product-name">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
            <div class="product-options">
                <button class="view">Visualizar</button>
                <button class="add-to-cart">Carrinho</button>
              </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="https://picsum.photos/200/300" />
            </div>
            <div class="price">R$249,90</div>  
            <div class="product-name">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
            <div class="product-options">
                <button class="view">Visualizar</button>
                <button class="add-to-cart">Carrinho</button>
              </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="https://picsum.photos/200/300" />
            </div>
            <div class="price">R$249,90</div>  
            <div class="product-name">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
            <div class="product-options">
                <button class="view">Visualizar</button>
                <button class="add-to-cart">Carrinho</button>
              </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="https://picsum.photos/200/300" />
            </div>
            <div class="price">R$249,90</div>  
            <div class="product-name">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
            <div class="product-options">
                <button class="view">Visualizar</button>
                <button class="add-to-cart">Carrinho</button>
              </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="https://picsum.photos/200/300" />
            </div>
            <div class="price">R$249,90</div>  
            <div class="product-name">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
            <div class="product-options">
                <button class="view">Visualizar</button>
                <button class="add-to-cart">Carrinho</button>
              </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="https://picsum.photos/200/300" />
            </div>
            <div class="price">R$249,90</div>  
            <div class="product-name">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
            <div class="product-options">
                <button class="view">Visualizar</button>
                <button class="add-to-cart">Carrinho</button>
              </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="https://picsum.photos/200/300" />
            </div>
            <div class="price">R$249,90</div>  
            <div class="product-name">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
            <div class="product-options">
                <button class="view">Visualizar</button>
                <button class="add-to-cart">Carrinho</button>
              </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="https://picsum.photos/200/300" />
            </div>
            <div class="price">R$249,90</div>  
            <div class="product-name">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
            <div class="product-options">
                <button class="view">Visualizar</button>
                <button class="add-to-cart">Carrinho</button>
              </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="https://picsum.photos/200/300" />
            </div>
            <div class="price">R$249,90</div>  
            <div class="product-name">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
            <div class="product-options">
                <button class="view">Visualizar</button>
                <button class="add-to-cart">Carrinho</button>
              </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="https://picsum.photos/200/300" />
            </div>
            <div class="price">R$249,90</div>  
            <div class="product-name">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
            <div class="product-options">
                <button class="view">Visualizar</button>
                <button class="add-to-cart">Carrinho</button>
              </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="https://picsum.photos/200/300" />
            </div>
            <div class="price">R$249,90</div>  
            <div class="product-name">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
            <div class="product-options">
                <button class="view">Visualizar</button>
                <button class="add-to-cart">Carrinho</button>
              </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="https://picsum.photos/200/300" />
            </div>
            <div class="price">R$249,90</div>  
            <div class="product-name">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
            <div class="product-options">
                <button class="view">Visualizar</button>
                <button class="add-to-cart">Carrinho</button>
              </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="https://picsum.photos/200/300" />
            </div>
            <div class="price">R$249,90</div>  
            <div class="product-name">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
            <div class="product-options">
                <button class="view">Visualizar</button>
                <button class="add-to-cart">Carrinho</button>
              </div>
          </div>
          

        </div>
      </section>
    </div>

</body>

</html>