<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <!-- <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="css/styles.min.css">
  <title>Loji - Modelo 01</title>
</head>

<body>
  <div class="container">
    <section class="header">
      <div class="site-information">
        <span class="left-info">
          <a href="#"><div class="phone"></div></a>
          <a href="#"><div class="email"></div></a>
        </span>
        <span class="right-info">
          <div class="social"><i class="fab fa-facebook"></i>/reloj.itauna</div>
              <div class="social"><i class="fab fa-instagram"></i>@relojoariaitauna</div>
              <div class="social"><i class="fab fa-twitter"></i>@relojoariaitauna</div>
        </span>
      </div>
      <div class="header-functions">
        <input type="search" placeholder="Pesquisar...">
        <div class="logo"><img src="https://relojoariaitauna.loji.com.br/storage/uploads/87kCivl1bmZ3pyAVKD0cySmxWORhhNWhK3sFHUwc.png" alt="" srcset=""> </div>
        <div class="account">
          <span class="user"><i class="fa fa-user"></i></span>
          <span class="wishlist hide"><i class="fa fa-heart"></i></span>
          <span class="cart"><i class="fa fa-shopping-cart"></i></span>
        </div>
      </div>
      <div class="nav">
        <ul>
          <li>Home</li>
          <li>Sobre nós</li>
          <li>Ofertas</li>
          <li>Contato</li>
          <li>FAQ</li>
        </ul>
      </div>
    </section>

      <div class="products-featured">
          <div class="product-featured">
            <div class="product-image">
              <img
                src="/assets/watch01.jpeg" />
            </div>
            <span>R$249,90</span> 
            <div class="product-name-featured">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
          </div>

          <div class="product-featured">
            <div class="product-image">
              <img
                src="/assets/watch01.jpeg" />
            </div>
            <span>R$249,90</span>  
            <div class="product-name-featured">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
          </div>

          <div class="product-featured">
            <div class="product-image">
              <img
                src="/assets/watch01.jpeg" />
            </div>
            <span>R$249,90</span>  
            <div class="product-name-featured">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
          </div>

          <div class="product-featured">
            <div class="product-image">
              <img
                src="/assets/watch01.jpeg" />
            </div>
            <span>R$249,90</span>  
            <div class="product-name-featured">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
          </div>

          <div class="product-featured">
            <div class="product-image">
              <img
                src="/assets/watch01.jpeg" />
            </div>
            <span>R$249,90</span>  
            <div class="product-name-featured">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
          </div>
      </div><!-- .promotions-slider -->

      <section class="products">
        <div class="side-bar">
          <div class="category">Categorias:</div>
          <ul>
            <li><a href="#"> Ver tudo</a></li>
            <li><a href="#">Alianças</a></li>
            <li><a href="#">Jóias</a></li>
            <li><a href="#">Semijóias</a></li>
            <li><a href="#">Relógios</a></li>
            <li><a href="#">Acessórios</a></li>
          </ul>
        </div>

        <div class="products-list">

          <div class="product">
            <div class="product-image">
              <img
                src="/assets/watch01.jpeg" />
            </div>
            <div class="price">R$249,90</div>  
            <div class="product-name">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
            <div class="product-options">
                <button class="view">Visualizar</button>
                <button class="add-to-cart">Carrinho</button>
              </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="/assets/watch02.jpeg" />
            </div>
            <div class="price">R$249,90</div>  
            <div class="product-name">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
            <div class="product-options">
                <button class="view">Visualizar</button>
                <button class="add-to-cart">Carrinho</button>
              </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="/assets/watch03.jpeg" />
            </div>
            <div class="price"><span>R$349,90</span> R$285,00</div>  
            <div class="product-name">Relógio lince digital led rose</div>
            <div class="product-options">
                <button class="view">Visualizar</button>
                <button class="add-to-cart">Carrinho</button>
              </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="/assets/watch04.jpeg" />
            </div>
            <div class="price">R$249,90</div>  
            <div class="product-name">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
            <div class="product-options">
                <button class="view">Visualizar</button>
                <button class="add-to-cart">Carrinho</button>
              </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="/assets/watch05.jpeg" />
            </div>
            <div class="price">R$249,90</div>  
            <div class="product-name">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
            <div class="product-options">
                <button class="view">Visualizar</button>
                <button class="add-to-cart">Carrinho</button>
              </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="/assets/watch06.jpeg" />
            </div>
            <div class="price">R$249,90</div>  
            <div class="product-name">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
            <div class="product-options">
                <button class="view">Visualizar</button>
                <button class="add-to-cart">Carrinho</button>
              </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="/assets/watch07.jpeg" />
            </div>
            <div class="price">R$249,90</div>  
            <div class="product-name">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
            <div class="product-options">
                <button class="view">Visualizar</button>
                <button class="add-to-cart">Carrinho</button>
              </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="/assets/watch08.jpeg" />
            </div>
            <div class="price">R$249,90</div>  
            <div class="product-name">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
            <div class="product-options">
                <button class="view">Visualizar</button>
                <button class="add-to-cart">Carrinho</button>
              </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="/assets/watch01.jpeg" />
            </div>
            <div class="price">R$249,90</div>  
            <div class="product-name">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
            <div class="product-options">
                <button class="view">Visualizar</button>
                <button class="add-to-cart">Carrinho</button>
              </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="/assets/watch01.jpeg" />
            </div>
            <div class="price">R$249,90</div>  
            <div class="product-name">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
            <div class="product-options">
                <button class="view">Visualizar</button>
                <button class="add-to-cart">Carrinho</button>
              </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="/assets/watch01.jpeg" />
            </div>
            <div class="price">R$249,90</div>  
            <div class="product-name">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
            <div class="product-options">
                <button class="view">Visualizar</button>
                <button class="add-to-cart">Carrinho</button>
              </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="/assets/watch01.jpeg" />
            </div>
            <div class="price">R$249,90</div>  
            <div class="product-name">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX </div>
            <div class="product-options">
                <button class="view">Visualizar</button>
                <button class="add-to-cart">Carrinho</button>
              </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="/assets/watch01.jpeg" />
            </div>
            <div class="price">R$249,90</div>  
            <div class="product-name">Relógio Feminino Rose Digital Led Branco Lince MDR4617LBXRX Apenas um teste de descrição </div>
            <div class="product-options">
                <button class="view">Visualizar</button>
                <button class="add-to-cart">Carrinho</button>
              </div>
          </div>
          

        </div>
      </section>

      <section class="footer">

        <div class="methods">
          <div class="payments-description">Formas de pagamentos</div>
          
          <div class="credit-card">
            <div class="title">Crédito</div>
            <div class="cards">
              <img src="/assets/band_visa.png" alt="">
              <img src="/assets/band_elo.png" alt="">
              <img src="/assets/band_hiper.png" alt="">
              <img src="/assets/band_master.png" alt="">
              <img src="/assets/band_diners.png" alt="">
              <img src="/assets/band_american.png" alt="">
            </div>
          </div>

            <div class="billet">
              <div class="title">Boleto</div>
              <img src="/assets/band_boleto.png" alt="" srcset="">
            </div>

            <div class="wallet">
              <div class="title">Carteira Eletrônica</div>
              <img src="/assets/band_paypal.png" alt="" srcset="">
            </div>
            
            <div class="social-media">
              <div class="social"><i class="fab fa-facebook"></i>/reloj.itauna</div>
              <div class="social"><i class="fab fa-instagram"></i>@relojoariaitauna</div>
              <div class="social"><i class="fab fa-twitter"></i>@relojoariaitauna</div>
            </div>
          </div>

          <div class="about-security">
            <div class="security-description">Segurança e certificações</div>
            <img src="./assets/seal.png" alt="">
            <img src="./assets/selo_empresabuscape.png" alt="">
            <img src="./assets/selo-google-site-seguro.png" alt="">
          </div>

        <div class="site-copy">
          <div class="copy-right">© 2020 Relojoaria Itauna</div>
          <div class="powered-by">Feito por <a href="https://loji.com.br/?utm_campaign=partner&utm_medium=site&utm_source=relojoariaitauna" target="_blank" rel="noopener noreferrer">Loji</a></div>
        </div>
      </section>
    </div>

    <div class="footer-options">
      <div class="contact">
        <span>+</span>
          <div class="whatsapp items">
            <a href=""><i class="fab fa-whatsapp"></i></a>
          </div>
          <div class="email items">
            <a href=""><i class="fas fa-envelope"></i></a></div>
          <div class="chat items">
            <a href=""><i class="fas fa-comments"></i></a>
          </div>
     </div>
    </div>

    <script src="/js/main.js"></script>
</body>

</html>